body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.main {
    height: 100vh;
    width: 100%;
    background-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    height: 500px;
    width: 29%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
}
.header {
    line-height: normal;
    padding-top: 30px;
    padding-left: 30px;
}
.header p {
    font-size: small;
    color: gray;
}
.header span {
    font-weight: bold;
    font-size: 30px;
}
.form-control {
    width: 100%;
    padding-left: 30px;
}
.form-control input {
    display: block;
    width: 350px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 30px;
}
.form-control button {
    display: block;
    width: 355px;
    height: 45px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 40px;
}
.form-input button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
#signbtn {
    font-size: 15px;
    border: 1px solid;
    background-color: white;
}
#signbtn:hover {
    border: none;
    font-weight: bold;
    background-color: rgb(248, 182, 50);
    box-shadow: 0px 0px 10px grey;
}
#gbtn {
    font-size: 15px;
    border: 1px solid;
    background-color: white;
}
#gbtn:hover {
    border: none;
    font-weight: bold;
    box-shadow: 0px 0px 10px grey;
}
#span {
    margin-top: 5px;
}
#span span {
    font-size: small;
}
#span1 {
    margin-top: 10px;
    width: 355px;
    padding-left: 0px;
    height: 15px;
    text-align: center;
}
#span1 span {
    font-size: small;
}
.logo {
    width: 47px;
    height: 43px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    text-align: center;
}
.logo-container {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.logo-container span {
    font-size: 35px;
    font-weight: 800;
    color: orange;
}
.logo-container p {
    font-size: 30px;
    font-weight: bolder;
}
#email.ok {
    border: 1px solid green;
}
#email.error {
    border: 1px solid red;
}
#password.ok {
    border: 1px solid green;
}
#password.error {
    border: 1px solid red;
}
#nameError ,#passwordError{
    font-size: 10px;
    padding-left: 5px;
    color: red;
}
/* #passwordError {
    font-size: 10px;
    padding-left: 5px;
    color: red;
} */
@media screen and (max-width: 650px) {
    .main {
        width: 100%;
        height: 100vh;
    }

    .login-container {
        width: 80%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 2px black;
    }

    .form-control input {
        display: block;
        width: 250px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 10px;
        padding-left: 5px;
        margin-top: 20px;
    }

    .form-control button {
        display: block;
        width: 255px;
        height: 45px;
        border: 1px solid;
        border-radius: 10px;
        margin-top: 20px;
    }

    #span {
        margin-top: 5px;
    }

    #span span {
        font-size: smaller;
    }

    #span1 {
        margin-top: 20px;
        width: 255px;
        padding-left: 0px;
        height: 15px;
        text-align: center;
    }

    #span1 span {
        font-size: small;
    }

    .form-control button {
        display: block;
        width: 255px;
        height: 45px;
        border: 1px solid;
        border-radius: 10px;
        margin-top: 40px;
    }

    .form-input button {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
    }

}