*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    height: 100vh;
}
.container{
    padding: 30px 40px;
    background-color: white;
    border-radius: 5px;
}
.header{
    padding: 20px 30px;
    border-bottom: 2px solid gray;
    margin: 0px;
    background-color: rgb(240, 237, 237);
}
.header h2{
    margin: 0px;
    text-align: center;
}
.form-control{
    margin-top: 15px;
    padding: 10px;
}

.container form button{
    width: 100%;
    color:white;
    background-color: blueviolet;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
