*{
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(75, 12, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}
.header{
    border-bottom: 2px solid #f0f0f0;
    background-color: #f9f9f9;
    padding: 20px 40px;
}
.header h1{
    margin: 0;
    text-align: center;
    color: #333;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    color: #555;
}
.form-control input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    display: block;
    border-radius: 4px;
    font-size: 14px;
}
.form-control input:focus{
    outline: none;
    border-color: #777;
}
.form-control.success input{
    border-color: #2ecc71;

}
.form-control.error input{
    border-color: red;
    
}
.form-control i{
    position: absolute;
    right: 10px;
    top: 40px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}
.form-control small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
button{
    width: 100%;
    padding: 10px;
    border: none;  
    background-color: rgb(75, 12, 235);
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}